<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginwithDatabase</display-name>
    <servlet-name>LoginwithDatabase</servlet-name>
    <servlet-class>com.servlet.LoginwithDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginwithDatabase</servlet-name>
    <url-pattern>/LoginwithDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.servlet.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectLoginwithdatabase</display-name>
    <servlet-name>ConnectLoginwithdatabase</servlet-name>
    <servlet-class>com.servlet.ConnectLoginwithdatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectLoginwithdatabase</servlet-name>
    <url-pattern>/ConnectLoginwithdatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectServlet2</display-name>
    <servlet-name>ConnectServlet2</servlet-name>
    <servlet-class>com.servlet.ConnectServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet2</servlet-name>
    <url-pattern>/ConnectServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectInsertservlet</display-name>
    <servlet-name>ConnectInsertservlet</servlet-name>
    <servlet-class>com.servlet.ConnectInsertservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectInsertservlet</servlet-name>
    <url-pattern>/ConnectInsertservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCookie</display-name>
    <servlet-name>TestCookie</servlet-name>
    <servlet-class>com.servlet.TestCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCookie</servlet-name>
    <url-pattern>/TestCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSession</display-name>
    <servlet-name>TestSession</servlet-name>
    <servlet-class>com.servlet.TestSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSession</servlet-name>
    <url-pattern>/TestSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>